@page "/Chess"

@inject IJSRuntime jsruntime

<input id="detail" class="ml-5" type="checkbox"/>
<label class="label">Trame détaillée</label>

<div class="justify-content-center disable-select " id="board"></div>


@code {        

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsruntime.InvokeVoidAsync("LoadChessBoard");
    }

}
