
/*Gestion du conteneur du board*/
cg-board {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index:1;
}

.cg-wrap, .mini-game .cg-wrap {
    width: 35%;
    position: absolute;
    display: table;
    bottom: 15%;
}

piece {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 12.5%;
    background-size: cover;
    z-index: 2;
    /*will-change: transform;*/
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
}

square {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 12.5%;
    background-size: cover;
    z-index: 2;
    /*will-change: transform;*/
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    opacity:0.2;
}


.selected {
    background-color: rgba(51, 170, 51, .4);
    opacity: 0.7;
    color: black;
}

.hover {
    background-color: darkslategrey;
}


.move-dest {
    background: radial-gradient(rgba(20, 85, 30, 0.5) 19%, rgba(0, 0, 0, 0) 20%);
    pointer-events: auto;
    opacity:1;
}

    .move-dest:hover {
        opacity: 0.2;
        background-color: darkgreen;
    }

.move-destTarget {
    background: radial-gradient(transparent 0%, transparent 79%, rgba(20,85,0,0.3) 80%);
    pointer-events: auto;
    opacity: 1;
}

    .move-destTarget:hover {
        background-color: darkgreen;
        opacity: 0.2;
    }

cg-container {
    position: absolute;
    width: 800%;
    height: 800%;
    display: block;
    bottom: 0;
}

cg-helper {
    position: absolute;
    width: 12.5%;
    padding-bottom: 12.5%;
    display: table;
    bottom: 0;
}

cg-board {
    background-image: url(../img/brown.svg);
}

#board div {
    cursor: pointer;
}

/*Fin gestion du conteneur*/



.numberContainer {
    width: 50px;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: center;
}

.number {
    vertical-align: middle;
    font-weight: bold;
}

.corner {
    width: 50px;
    height: 50px;
}

.letterContainer {
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
}

.pieceContainer {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    /*width: 100px;
    height: 100px;*/
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transition: left 1s, top 1s;*/
}


.letter {
    font-weight: bold;
    text-align: center;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
    margin: auto;
}

.targetOuter {
    background-color: darkseagreen;
    height: 100px;
    width: 100px;
    z-index: 1
}

.targetInner {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    display: inline-block;
    border-radius: 60%;
    z-index: 2;
    display: flex;
    justify-content: center;
}




.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.check {
    background: radial-gradient(ellipse at center, red 0%, #ff0000 25%, rgb(255 255 255 / 82%) 89%, rgb(255 255 255) 100%);
    opacity:1;
    z-index:1;
}


