.board {
    width: 850px;
    height: 850px;
    /*display:flex;*//*
    flex-direction:column;*/
}

#board div {
    cursor:pointer;
}

.white {
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.black {
    background-color: grey;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.numberContainer {
    width: 50px;
    height: 100px;
    line-height: 100px;
}

.number {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.corner {
    width: 50px;
    height: 50px;
}

.letterContainer {
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
}

.pieceContainer {
    line-height: 100px;
    display: flex;
    justify-content: center;
}

.piece {
    font-size: 60px;
}
    .piece.ui-draggable-dragging {
        /*border: none;
        background:none;*/
    }

.letter {
    font-weight: bold;
    text-align:center;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color:green;
    margin:auto;
}

.targetOuter {
    background-color: darkseagreen;
    height: 100px;
    width: 100px;
    z-index:1
}

.targetInner {
    height: 100px;
    width: 100px;
    background-color:aliceblue;
    display: inline-block;
    border-radius: 60%;
    z-index:2;
    display:flex;
    justify-content:center;
}